body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(114, 251, 2);
    margin: 0;
    padding: 20px;
    background-image: url("/IMG_0851.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#game-container {
    display: grid;
    margin: 20px auto; 
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    grid-gap: 2em;
    
  
}
.card {
    transition: 0.3s all ease;
    background-color: aquamarine;
    border-radius: 20px;
    cursor: pointer;
}
/*.card:hover {
    transition: scale(a.03);
}*/
.card img {
    width: 100%;
    height: 100%;
   display: flex;
   border-radius: 20px;
   align-items: center;
   transition: 0.3s all ease;
    opacity: 0;
   
}

.card.flipped img {
display: block;
opacity: 100%;
}
@media (max-width: 500px) { 
   #game-container  { 
        max-width: 200px;
    } 
} 

/*.card .clicked{
    background-color: rgb(1, 14, 20);
    background-size: cover;
    
    background-position: center;
}
.card.checked {
    background-color: blueviolet;
   
}
.card.checked img, .card.checked img {
    opacity: 1;
}
.card.shake {
    background-color: rgb(241, 63, 14);
}*/
/*.buttonss {
    background-color: rgb(242, 148, 8);
    font-size: medium;
    color:rgb(29, 140, 196);
    width: 500px;
    height: 500px;

    
}*/
/*.actions {
    display: flex;
    justify-content: center;
}*/
#reset-button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(98, 187, 217);
    color: white;
    transition: background-color 0.3s;
}
/*.reset-button:hover {
    background-color: rgb(30, 167, 177);
}*/


.message {
    font-size: 1.5em;
    margin-top: 20px;
    background-color: red;;
}
.timer, .attempts {
    font-size: 1.2em;
    margin-top: 10px;
}