body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(6, 51, 39);
    margin: 0;
    padding: 20px;
}
.game-container {
    display: grid;
    margin: 20px auto; 

}
#cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    grid-gap: 2em;
    
  
}
.card {
    transition: 0.3s all ease;
    background-color: aquamarine;
    border-radius: 20px;
    cursor: pointer;
}
.card:hover {
    transition: scale(a.03);
}
.card img {
    width: 50%;
    height: 50%;
   display: flex;
   border-radius: 20px;
   align-items: center;
   transition: 0.3s all ease;
   opacity: 0;
   
}

/*#card.flipped {
transform: rotateY(180deg);}*/

.card .clicked{
    background-color: rgb(1, 14, 20);
    background-size: cover;
    backface-visibility: hidden;
    background-position: center;
}
/*.buttonss {
    background-color: rgb(242, 148, 8);
    font-size: medium;
    color:rgb(29, 140, 196);
    width: 500px;
    height: 500px;

    
}*/
.actions {
    display: flex;
    justify-content: center;
}
.actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(98, 187, 217);
    color: white;
}